
@import "../../sass/responsiveStyles";

.formulario__contenedor--blur01 {
  position: absolute;
  
  right: 0;
  z-index: 1;
  @include tablet  {
    width: 300px;
    height: 300px;
    top: -100px;
  }
  @include desktop  {
    width: auto;
    height: auto;
    top: -63px;
  }
}
.formulario__contenedor--blur02 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  @include tablet  {
    width: 300px;
    height: 300px;
  }
  @include desktop  {
    width: auto;
    height: auto;
  }
}

.formulario__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 70px;
  background: #f8f9ff;
  
  position: relative;
  @include tablet  {
    height: 808px;
  }
  @include desktop  {
    height: 768px;
  }
  
}
.formulario__contenedor__img {
  max-width: 600px;
  max-height: 640px;
  padding: 32px 0px 48px 120px;
  z-index: 15;
  @include tablet  {
    display: none;
  }
  @include desktop  {
    display: block;
  }
}
.formulario__contenedor__img--family {
  width: 520px;
  height: 600px;
  gap: 10px;

}

.form-check-input:checked {
  background-color: #0a051e;
  border-color: #0a051e;
}
